  server:
    port: 8080

  servlet:
    encoding:
      charset: utf-8

  spring:
    datasource:
      url: jdbc:mysql://${RDS_HOSTNAME}:${RDS_PORT}/${RDS_NAME}
      driver-class-name: ${DB_DRIVER}
      username: ${RDS_USERNAME}
      password: ${RDS_PASSWORD}
    redis:
      host: localhost
      port: 6379
    jpa:
      open-in-view: true
      generate-ddl: false
      hibernate:
        ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      properties:
        hibernate:
          format_sql: true
          show_sql: false
          dialect: org.hibernate.dialect.MySQL8Dialect

    file:
      path: "./images/"
    secret-key: klner8xv0se

    cloud:
      aws:
        stack:
          auto: false
        s3:
          bucket: drcal-bucket
        region:
          static: ap-northeast-2
        credentials:
          access-key: ${AWS_ACCESS_KEY}
          secret-key: ${AWS_SECRET_KEY}