  spring:
    datasource:
      url: jdbc:h2:mem:test;MODE=MySQL
      driver-class-name: org.h2.Driver
      username: sa
      password:
    h2:
      console:
        enabled: true
    jpa:
      hibernate:
        ddl-auto: create
        naming:
          physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
      show-sql: true
      properties:
        hibernate:
          format_sql: true
          dialect: org.hibernate.dialect.H2Dialect
          jdbc:
            time_zone: Asia/Seoul
        default_batch_fetch_size: 100
      open-in-view: false
  file:
    path: "./images/"
  secret-key: klner8xv0se